 body {
     background: url("https://smmasports.org/portals/0/Images/registernow.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     display: flex;
     flex-direction: column;
     margin-top: 2%;
     padding: 0;
     height: 100vh;
     justify-content: center;
     align-items: center;
     overflow: hidden;
     font-family: Arial, sans-serif;
 }

 nav {
     top: -20px;
 }

 .search-bar {
     margin-top: 20px;
 }

 .login-container {
     margin-top: 18px;
 }

 h1 {
     font-size: 36px;
     margin-bottom: 20px;
     color: #88ec6f;
     text-align: center;
 }

 form {
     height: min-content;
     margin-top: 4%;
     display: flex;
     flex-direction: column;
     align-items: center;
     background-color: rgba(0, 0, 0, 0.7);
     padding: 18px;
     border-radius: 10px;
     box-shadow: 0px 0px 10px rgba(192, 20, 20, 0.3);
 }

 label {
     font-size: 18px;
     margin-bottom: 8px;
 }

 input[type="text2"],
 input[type="email"],
 input[type="password"],
 input[type="number"],
 select {
     font-size: 16px;
     padding: 8px;
     border-radius: 4px;
     border: none;
     box-shadow: 0 0 4px rgba(227, 24, 24, 0.855);
     margin-bottom: 0px;
     width: 100%;
     max-width: 400px;
 }


 .error {
     color: red;
     margin-bottom: 16px;
 }

 label {
     font-size: 18px;
     margin-bottom: 10px;
     color: #ff8800;
 }

 a {
     color: #ff8800;
     font-size: 18px;
     margin-top: 20px;
     text-decoration: none;
     text-align: center;
 }

 a:hover {
     text-decoration: underline;
 }

 .register-btn {
     background-color: #179a00;
     color: #fff;
     padding: 10px 20px;
     border-radius: 25px;
     border: none;
     font-size: 18px;
     cursor: pointer;
     transition: all 0.3s ease-in-out;
 }

 .register-btn:hover {
     background-color: #179a00;
     transform: scale(1.3);
 }

 .strengthMeter {
     width: 105%;
     height: 4px;
     top: auto;
     background: rgb(255, 255, 255);
     margin-bottom: 10px;
 }

 .strengthMeter::before {
     content: '';
     position: absolute;
     width: 0;
     height: 0.6%;
 }

 .weak.strengthMeter::before {
     width: 8%;
     height: 0.6%;
     background: red;
     filter: drop-shadow(0 0 2px #f00) drop-shadow(0 0 2px #f00) drop-shadow(0 0 20px #f00);
     position: absolute;
     transition: 0.5s;
 }

 .medium.strengthMeter::before {
     width: 16%;
     height: 0.6%;
     background: rgb(255, 255, 15);
     filter: drop-shadow(0 0 2px #ffa500) drop-shadow(0 0 2px #ffa500) drop-shadow(0 0 20px #ffa500);
     position: absolute;
     transition: 0.5s;
 }

 .strong.strengthMeter::before {
     width: 21.8%;
     height: 0.6%;
     background: #0f0;
     filter: drop-shadow(0 0 2px #0f0) drop-shadow(0 0 2px #0f0) drop-shadow(0 0 20px #0f0);
     position: absolute;
     transition: 0.5s;
 }

 .strengthMeter::after {
     content: 'Password: Empty';
     margin-top: 10px;
     color: rgb(193, 145, 145);
     position: absolute;
     transition: 0.5s;
 }

 .weak.strengthMeter::after {
     content: 'Password: Weak';
     margin-top: 10px;
     color: rgb(254, 0, 0);
     position: absolute;
     transition: 0.5s;
 }

 .medium.strengthMeter::after {
     content: 'Password: Medium';
     margin-top: 10px;
     color: rgb(238, 255, 0);
     position: absolute;
     transition: 0.5s;
 }

 .strong.strengthMeter::after {
     content: 'Password: Strong';
     margin-top: 10px;
     color: rgb(0, 255, 72);
     position: absolute;
     transition: 0.5s;
 }