<%- include('../components/dashboard/navabar.ejs') %>


    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
        <style>
            body {
                background: url("https://uploads-ssl.webflow.com/632871e15b53a0140af28aeb/633afea53e422d705b40bf44_pexels-pixabay-46798.jpg");
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                flex-direction: column;
                margin-top: 50px;
                padding: 0;
                height: 100vh;
                justify-content: center;
                align-items: center;
                font-family: Arial, sans-serif;
                overflow: hidden;
            }

            nav {
                top: -20px;
            }

            .search-bar {
                margin-top: 20px;
            }

            .login-container {
                margin-top: 18px;
            }

            h1 {
                font-size: 36px;
                font-family: cursive;
                margin-bottom: 30px;
                color: #0e0f0e;
                text-align: center;
            }

            form {
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: rgba(0, 0, 0, 0.7);
                padding: 40px;
                border-radius: 10px;
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
            }

            label {
                font-size: 18px;
                margin-bottom: 10px;
                color: #00b00f;
            }

            input[type="email"],
            input[type="password"],
            input[type="text"][id="email"],
            input[type="text"][id="email2"],
            input[type="text"][id="password"] {
                padding: 10px;
                border-radius: 5px;
                border: none;
                box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.727);
                font-size: 18px;
                margin-bottom: 20px;
                width: 100%;
                max-width: 400px;
            }

            button[type="submit"] {
                background-color: #179a00;
                color: #fff;
                padding: 10px 20px;
                border-radius: 25px;
                border: none;
                font-size: 18px;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
            }

            #loginBtn {
                background-color: #179a00;
                color: #fff;
                padding: 10px 20px;
                border-radius: 25px;
                border: none;
                font-size: 18px;
                cursor: pointer;
                transition: all 0.3s ease-in-out;
            }

            input[type="submit"]:hover {
                background-color: #179a00;
                transform: scale(1.3);
            }

            a {
                color: #179a00;
                font-size: 18px;
                margin-top: 20px;
                text-decoration: none;
                text-align: center;
            }

            a:hover {
                text-decoration: underline;
            }


            .my-class {
                background-color: rgb(181, 3, 3);
                color: white;
                padding: 10px;
                border: 1px solid rgb(249, 0, 0);
                border-radius: 5px;
                position: fixed;
                top: 20px;
                right: 20px;
                animation: fadeOut 9s forwards;
            }

            @keyframes fadeOut {
                0% {
                    opacity: 1;
                }

                100% {
                    opacity: 0;
                    visibility: hidden;
                }
            }
        </style>
    </head>

    <body>

        <h1>Reset Password</h1>
        <form id="myForm" novalidate>
            <label for="email">New Password</label>
            <input type="text" id="email" style="width: 350px;" name="email" required>

            <label for="email2">Confirm Password</label>
            <input type="text" id="email2" style="width: 350px;" name="email2" required>

            <button style="margin-top: 30px;" id="loginBtn">Reset</button>
            <div class="jpaetei" style="display: flex;">
                <a href="/register">Register here!</a>
                <a style="margin-left: 100px; " href="/login"> Login! </a>
            </div>
        </form>

    </body>
    <input type="text" id="toasting" value="<%= data%>" hidden>
    <input type="text" value="<%= user.email %>" id="email3" hidden>


    <script>

        const Toast = Swal.mixin({
            toast: true,
            position: 'top-right',
            iconColor: 'white',
            customClass: {
                popup: 'colored-toast'
            },
            showConfirmButton: false,
            timer: 1500,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
            }
        })

        $('#loginBtn').on('click', (e) => {
            e.preventDefault();

            var email = $('#email3').val()
            var pass = $('#email').val()
            var confirm = $('#email2').val()

            if (pass == '') return Toast.fire({ title: 'Please enter password!', icon: "error" })
            if (confirm == '') return Toast.fire({ title: 'Please confirm password!', icon: "error" })
            if (pass != confirm) return Toast.fire({ title: `Passwords don't match!`, icon: 'error' })

            return fetch('/reset-password', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ pass, confirm, email })
            }).then(res => res.json())
                .then(data => {
                    if (data.title == 'success') {
                        return Swal.fire({
                            title: 'Success',
                            text: "Password Changed Successfully",
                            icon: 'success',
                            confirmButtonColor: '#3085d6',
                            confirmButtonText: 'Confirm',
                        }).then((result) => {
                            location.href = `/login`
                        })
                    }

                    if (data.title === 'no user') {
                        return Swal.fire({
                            title: 'User doesn\'t exist!',
                            text: "Do you want to register?",
                            icon: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Yes'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                location.href = '/register'
                            }
                        })
                    }

                    if (data.title == 'error') {
                        return Toast.fire({
                            icon: 'error',
                            title: `There was a problem! Check back later.`
                        })
                    }
                })

        })


    </script>