<%- include('../../components/dashboard/navabar.ejs') %>

    <style>
        body {
            background-image: url("https://d2lwtouoc9qh9n.cloudfront.net/wp-content/uploads/2023/01/wordpress-basics-featured-image-jpg.webp");
        }

        .admin-container {
            display: flex;
            margin-left: 60px;
            align-items: center;
            height: 100vh;
            margin-top: 40px;
        }

        .admin-panel {
            margin-left: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .admin-buttons {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            margin-top: 20px;
        }

        .admin-buttons button {
            padding: 10px 20px;
            font-size: 16px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>

    <body>
        <div class="admin-container">
            <div class="admin-panel">
                <h1 style="color: rgb(246, 156, 0);">Admin Panel</h1>
                <div class="admin-buttons">
                    <button id="add-photos-btn " onclick="window.location.href = '/addPhotos'">Add
                        Photos</button>
                    <button id="add-games-btn" onclick="window.location.href = '/addGames'">Add Games</button>
                    <button id="add-schedule-btn" onclick="window.location.href = '/addSchedule'">Add
                        Schedule</button>
                    <button id="add-videos-btn" onclick="window.location.href = '/addVideos'">Add
                        Videos</button>
                    <button id="add-news-btn" onclick="window.location.href = '/addNews'">Add News</button>
                    <button id="view-analytics-btn" onclick="window.location.href = '/moreAnalytics'">More
                        Analytics</button>
                    <button id="view-members-btn" onclick="window.location.href = '/manageUsers'">Manage
                        Users</button>
                </div>
            </div>
            <div
                style="margin-left: 300px; margin-top: -10px; display: flex; flex-direction: column; align-items: center;  ">
                <h1 style="color: rgb(246, 156, 0); position: relative; display: flex; justify-content: center; ">Add
                    Schedule</h1>
                <form enctype="multipart/form-data" style="margin-top: 20px; color: white;" id="form1">
                    <label for="photoTitle" style="display: block; margin-bottom: 10px;">Title:</label>
                    <input type="text" id="Title" name="Title" style="padding: 5px; width: 300px;" required>

                    <label for="photoTitle" style="display: block; margin-bottom: 10px;">Games Between:</label>
                    <input type="text" id="gb" name="gb" style="padding: 5px; width: 300px;" required>

                    <label for="photoFile" style="display: block; margin-bottom: 10px;">Date:</label>
                    <input type="date" id="photoFile" name="date" style="margin-bottom: 20px;" required><br>

                    <label for="desc" style="display: block; margin-bottom: 10px;">Time</label>
                    <input type="time" id="time" name="time"></input>

                </form>

                <button
                    style="padding: 8px 20px;margin-top: 10px; background-color: #4CAF50; color: white; border: none; border-radius: 10px; cursor: pointer; "
                    id="saveBtn">Add </button>
            </div>
        </div>

    </body>

    <script>
        const Toast = Swal.mixin({
            toast: true,
            position: "top-right",
            iconColor: "white",
            customClass: {
                popup: "colored-toast",
            },
            showConfirmButton: false,
            timer: 2000,
            timerProgressBar: true,
            didOpen: (toast) => {
                toast.addEventListener("mouseenter", Swal.stopTimer);
                toast.addEventListener("mouseleave", Swal.resumeTimer);
            },
        });

        $('#saveBtn').on('click', e => {
            e.preventDefault();

            const photoFile = $('#photoFile').val()
            const title = $("#Title").val()
            const gb = $("#gb").val()
            const time = $("#time").val()

            if (title == "" || photoFile == "" || gb == "" || time == "") {
                return Toast.fire({
                    icon: 'error',
                    title: `Please fill all fields!`
                })
            }

            Swal.fire({
                title: 'Are you sure?',
                text: "You want add this schedule!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, Add It!'
            }).then((result) => {
                if (result.isConfirmed) {
                    var form = document.getElementById("form1")
                    const formData = new FormData(form);

                    fetch(`/addSchedule`, {
                        method: 'POST',
                        body: formData
                    }).then(response => response.json())
                        .then(result => {
                            if (result == 'success') {
                                Swal.fire(
                                    'Saved!',
                                    'Your changes have been saved.',
                                    'success'
                                ).then(() => {
                                    window.location.href = '/schedule';
                                })
                            }
                            if (result === 'error') {
                                Swal.fire(
                                    'Error!',
                                    'Something went wrong! Try again later',
                                    'error'
                                ).then(() => {
                                    location.reload();
                                })
                            }
                        })
                }
            })
        })
    </script>